# Terraform local working dirs & plugins
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive vars
*.tfvars
*.tfvars.json

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock info
.terraform.tfstate.lock.info

# Plans
*.tfplan
*.tfplan.*

.terraformrc
terraform.rc
